.menu-button:hover{
     -fx-background-color: #FCFCFC;
 }


.menu-button:pressed{
    -fx-background-color: #D0D0D0;
}

 .white-color{
     -fx-background-color: #FFFFFF;

 }

.lightbox-shadow{
    -fx-background-color: rgba(0,0,0,0.75);
}

.fill-orange{
    -fx-fill: FF4500;
}

.fill-grey{
    -fx-fill: E5E5E5;
}

.category:hover{
    -fx-border-width: 2 0;
    -fx-border-color: #757575;
    -fx-background-color: #D0D0D0;

}

.category:pressed{
    -fx-border-width: 2 0;
    -fx-border-color: #757575;
    -fx-background-color: #BBBBBB;
}

.text-shadow{

    -fx-effect: dropshadow(gaussian, #AAAAAA, 2, 10, 0, 0);
    -fx-font-weight: bolder;
    -fx-font-size: 24px;

}

.text-shadow-attack{

    -fx-effect: dropshadow(gaussian, #AAAAAA, 3, 10, 0, 0);
    -fx-font-weight: bolder;
    -fx-font-size: 48px;

}

.vs-shadow{

    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(gaussian, #000000, 3, 10, 0, 0);

}

.card{
    -fx-effect: dropshadow(gaussian, #999999, 10, 0.1, 3, 6);
    -fx-background-color: #FFFFFF;
    -fx-border-width: 1;
    -fx-border-color: #999999;
    -fx-text-fill: #999999;
    -fx-font-size: 32px;

}

.standard-button{

    -fx-font-size: 24px;
    -fx-font-weight: bold;

}

.border-line{

}

.lobby-item{

    -fx-border-width:  0 1 1 0;
    -fx-border-color:  #999999;
    -fx-text-fill: #999999;
    -fx-font-weight: bold;
    -fx-font-size: 32px;

}

.readyButton-check{
    -fx-background-color: #66DD2A;
    -fx-text-fill: #FFFFFF;
}