.staticHint{
    -fx-border-width: 1px;
    -fx-border-color: #999999;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.recipe-list-item:hover{
     -fx-background-color: #FCFCFC;
 }

.recipe-list-item:pressed{
    -fx-background-color: #D0D0D0;
}

.text-normal{
     -fx-font-size: 13px;
     -fx-font-family: "Avenir Book";
 }

.text-smaller{
     -fx-font-size: 11px;
     -fx-font-family: "Avenir Book";
 }
.text-larger{
     -fx-font-size: 14px;
     -fx-font-family: "Avenir Book";
 }

.text-larger2{
     -fx-font-size: 25px;
     -fx-font-family: "Avenir Book";
 }

.text-larger-bold{
     -fx-font-size: 15px;
     -fx-font-family: "Avenir Book";
     -fx-font-weight: bold
 }

 .primary-colour{
     -fx-background-color: #FF4500;
 }

 .grey-nuance{
     -fx-background-color: #E5E5E5;

 }

 .white-color{
     -fx-background-color: #FFFFFF;

 }

.button-like {
  -fx-background-color:
       -fx-shadow-highlight-color,
       -fx-outer-border,
       -fx-inner-border,
       -fx-body-color;
  -fx-background-insets: 0 0 -1 0, 0, 1, 2;
  -fx-background-radius: 3px, 3px, 2px, 1px;
}

.round-button-orange{
    -fx-background-color: FF4500;
    -fx-border-radius: 20;
    -fx-background-radius: 200;
    -fx-text-fill: #FFFFFF;
}

.round-button-white{
    -fx-background-color:  -fx-background;
    -fx-border-color: FF4500;
    -fx-border-radius: 20;
    -fx-background-radius: 200;
    -fx-text-fill: #FFFFFF;
}


.category{
    -fx-border-width: 1 0;
    -fx-border-color: #CCCCCC;
}


.cartpane{
    -fx-border-width: 1;
    -fx-border-color: #CCCCCC;
    
}

.primary-button{
    -fx-background-color: FF4500;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-text-fill: #FFFFFF;

}

.info-text{
    -fx-text-alignment: center;
    -fx-wrap-text: true;

}

.title-text{
    -fx-font-size: 25px;
    -fx-font-family: "Avenir Book";
    -fx-font-weight: bolder;

}

.subtitle-text{
    -fx-font-size: 20px;
    -fx-font-family: "Avenir Book";
    -fx-font-weight: bold;
    -fx-underline: true;

}

.formtitle{
    -fx-font-size: 20px;
    -fx-font-family: "Avenir Book";
    -fx-font-weight: bold;

}

.roundedbuttonoff{
    -fx-background-color: E5E5E5;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-text-fill: #757575;
    -fx-font-weight: bolder;
    -fx-border-width: 1;
    -fx-border-color: #CCCCCC;

}

.roundedbuttonon{
    -fx-background-color: FF4500;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bolder;

}

.lightbox-shadow{
    -fx-background-color: rgba(0, 0, 0, 0.75)
}

.fill-orange{
    -fx-fill: FF4500;
}

.fill-grey{
    -fx-fill: E5E5E5;
}

.wizard-back-button{
    -fx-background-color: E5E5E5;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-text-fill: #757575;
    -fx-font-weight: bolder;
    -fx-border-width: 1;
    -fx-border-color: #CCCCCC;
}

.category:hover{
    -fx-border-width: 2 0;
    -fx-border-color: #757575;
    -fx-background-color: #D0D0D0;

}

.category:pressed{
    -fx-border-width: 2 0;
    -fx-border-color: #757575;
    -fx-background-color: #BBBBBB;
}

.card{
    -fx-background-color: FFFFFF;
    -fx-border-width: 1;
    -fx-border-color: #999999;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(gaussian, #999999, 10, 0.1, 3, 6);

}

.text-even-larger-green{
     -fx-font-size: 30px;
     -fx-font-family: "Avenir Book";
     -fx-text-fill: #44d342;
}

.transparent-button{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family:"Avenir Book", Helvetica, Arial, sans-serif;
    -fx-text-fill: FFFFFF;
}

.done-pane {


    -fx-border-weight: 1px;
    -fx-border-color: #757575;
    -fx-background-color: #E5E5E5;

}

.orange-square-button{
    -fx-border-color: FF4500;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: FF4500;
    -fx-font-family:"Avenir Book", Helvetica, Arial, sans-serif;
    -fx-text-fill: FFFFFF;
}

.white-square-button{
    -fx-background-color:  -fx-background;
    -fx-border-color: FF4500;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-font-family:"Avenir Book", Helvetica, Arial, sans-serif;
    -fx-text-fill: FF4500;
}
