.menu-button:hover{
     -fx-background-color: #FCFCFC;
 }


.menu-button:pressed{
    -fx-background-color: #D0D0D0;
}

 .white-color{
     -fx-background-color: #FFFFFF;

 }

.button-like {
  -fx-background-color:
       -fx-shadow-highlight-color,
       -fx-outer-border,
       -fx-inner-border,
       -fx-body-color;
  -fx-background-insets: 0 0 -1 0, 0, 1, 2;
  -fx-background-radius: 3px, 3px, 2px, 1px;
}

.lightbox-shadow{
    -fx-background-color: rgba(0,0,0,0.75);
}

.fill-orange{
    -fx-fill: FF4500;
}

.fill-grey{
    -fx-fill: E5E5E5;
}

.category:hover{
    -fx-border-width: 2 0;
    -fx-border-color: #757575;
    -fx-background-color: #D0D0D0;

}

.category:pressed{
    -fx-border-width: 2 0;
    -fx-border-color: #757575;
    -fx-background-color: #BBBBBB;
}

.text-shadow{

    -fx-effect: dropshadow(gaussian, #AAAAAA, 2, 10, 0, 0);
    -fx-font-weight: bolder;
    -fx-font-size: 24px;

}

.card{
    /*-fx-effect: dropshadow(gaussian, #000000, 10, 0.1, 3, 6);*/
    -fx-background-color: FFFFFF;
    -fx-border-width: 1;
    -fx-border-color: #999999;
    -fx-text-fill: #000000;

}